<div class="leftPanel">
    Filemanager
    <div class="buttonNewFolder" onclick="createNewFolder()">
        Create new folder
    </div>
    <div class="createNewFile" onclick="createNewFile()">
        Create new file
    </div>
    <div class="uploadFiles">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <img src="/icons/direct-download.png">
            <label for="filestoupload">Wybierz pliki</label>
            <input type="file" multiple required accept="*" name="filestoupload" id="filestoupload">
            <input type="submit">
        </form>
    </div>
</div>
<div class="rightPanel">
    {{#if directories}}
    <span class="rowInfo">Folders:</span>
    {{/if}}
    <div class="row">
        {{#each directories}}
        <div class="element">
            <div class="imgX">
                <img src="{{obraz}}" alt="{{name}}">
                <form method="POST" action="/deleteFolder?name={{name}}">
                    <button type="submit"><img src="close.png" alt="X"></button>
                </form>
            </div>
            {{path}}
            <a class="fileLink" href="{{path}}">{{name}}</a>
        </div>
        {{/each}}
    </div>
    {{#if files}}
    <span class="rowInfo">Files:</span>
    {{/if}}
    <div class="row">
        {{#each files}}
        <div class="element">
            <div class="imgX">
                <img src="{{obraz}}" alt="{{name}}">
                <form method="POST" action="/deleteFile?name={{name}}">
                    <button type="submit"><img src="close.png" alt="X"></button>
                </form>
                {{!-- <a href="/deleteFile?name={{name}}"><img src="close.png" alt="X"></a> --}}
            </div>
            {{path}}
            <a class="fileLink" href="{{path}}">{{name}}</a>
        </div>
        {{/each}}
    </div>
</div>