<link rel="stylesheet" href="./style.css">
<a href="/">Wyślij pliki</a>
<a href="/filemanager">Pokaż pliki</a>
<table>
    <tr>
        <th>ID</th>
        <th>obraz</th>
        <th>name</th>
        <th>type</th>
        <th>size</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
    </tr>
    {{#each files}}
    <tr>
        <td>{{id}}</td>
        <td><img class="filetype" src="/icons/{{obraz}}"></td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{size}}</td>
        <td><a href="/show/?id={{id}}">SHOW</a></td>
        <td><a href="/info/?id={{id}}">INFO</a></td>
        <td><a target="_blank" href="/download/?id={{id}}">DOWNLOAD</a></td>
        <td>DELETE</td>
    </tr>
    {{/each}}
</table>