<link rel="stylesheet" href="./style.css">
<a href="/">Wyślij pliki</a>
<table>
    <tr>
        <th>ID</th>
        <th>obraz</th>
        <th>name</th>
        <th>type</th>
        <th>size</th>
    </tr>
    {{#each images}}
    <tr>
        <td>{{id}}</td>
        <td><img class="filetype" src="/icons/{{obraz}}"></td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{size}}</td>
    </tr>
    {{/each}}
</table>