<link rel="stylesheet" href="./style.css">
<div class="what">
    Info
</div>
<div class="hbs">
    <span>ID:</span> {{id}}<br>
    <span>Name:</span> {{name}}<br>
    <span>Type:</span> {{type}}<br>
    <span>Path:</span> {{path}}<br>
    <span>Savedate:</span> {{savedate}}<br>
    <span>Size:</span> {{size}}
</div>