<table border="1" style="border: 1px solid red">
    {{#each cos_a}}

    <td>{{a}}</td>



    {{/each}}
</table>

<br>
<table border="1" style="border: 1px solid blue">
    {{#each cos_b}}

    <td>{{b}}</td>



    {{/each}}
</table>

{{!-- {{#each abc}}
{{#if a}}
{{a}} {{b}}<br>
{{else}}
brak {{b}}<br>
{{/if}}
{{/each}} --}}